* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(194, 194, 194);
}

header {
    background-color: white;
    border: solid 1px;
    height: 70px;
    background-color: white;
    padding: 10px;
   

}
header img {
    background-color: white;
    display: inline-block;
    width: auto;
    height:50px;
}

header h1 {
    background-color: white;
    margin: auto 0px ;
    padding-left: 30px;
    display: inline;
    padding: auto 0px;
}

.section1 {
    width: 900px;
    height: 700px;
    background-color: white;
    margin: 60px auto;
}
